body{margin:0;padding:0;background-color:#f2f2f2;}
.main{height:250px;background-color:#141414;}
.title{width:700px;height:200px;font-size:20px;color:white;margin:0 auto;line-height:200px;}
h1{margin:0;}
ul{list-style:none;padding:0;display:flex;margin:0 auto;width:700px;}
.nav-item{padding:0 50px 0 50px;display:block;width:100px;height:50px;border-top:5px #141414 solid;text-align:center;line-height:50px;color:white;transition:.3s;}
.nav-item:hover{border-top:5px #00abdd solid;}
.cb{width:700px;height:100%;margin:0 auto;}
.aad{width:700px;height:100%;padding:10px 0;}
@font-face{font-family:'arial';src:url(msyhbd.ttf);}
h1{font-family:arial;}